{% extends 'library/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<style>

    .nounderline {
        text-decoration: none !important;
        transition-duration: .01s;
    }

    .card {
      width: 60%; 
      height: 90%;
      border-radius: 15px;
      border: 0px;
      box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
    }

    .card-body {
      padding: 1.25 rem;
      margin: auto;
      padding-top: 5%;
      height: 80%;
    }

  .comment-container {
    margin-top: 10px;
    margin-left: 10px;
    height: 150px;
  }

  div.scroll {
  width: 600px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
</style>

<section class="mb-5">

  <!-- START OF TOP HALF OF PAGE -->
  <div class="row">
      <!-- START OF TOP RIGHT HALF OF PAGE  -->
      <div class="col-md-12 mb-0">
        <!-- SUMMARY, AUTHOR, CATEGORY  -->
        <div class="container text-left">
          
          <h3>{{ user.username }}'s Favorites</h3>

        </div>
      </div> 
  </div>

  <!-- END OF TOP HALF OF PAGE -->
  <!-- START OF BOTTOM HALF OF PAGE -->
  <div class="row-md-3 mb-3 md-0">

        <!-- REVIEW TAB -->
        <div class="tab-pane row" id="reviews" role="tabpanel">
              <div class="col-6 h-50 scroll">
                <div class="comment-container">


                  <div class="media-body text-left">
                    
                  </div>
           
                </form>
                </div>
              </div>
        </div>
      </div>
    </div>

</section>
</div>
<!-- END OF BOTTOM HALF OF PAGE -->
</section>
<footer>
  <ul>
    <li><a class="nav-link" href="{% url 'contact_us' %}">{% translate "Contact Us" %}</a></li>           
    <li><a class="nav-link" href="{% url 'faq' %}">{% translate "FAQ" %}</a></li>           
  </ul>
</footer>
{% endblock %}

